<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-lg-8 col-md-10 col-12 mx-auto">

    
    <h3><%= listing.title %></h3>
<p class="text-muted">
    Category: <%= listing.category %>
</p>
<!-- <span class="badge bg-dark">
    🏔️ <%= listing.category %>
</span> -->
    <div class="card">
         <img src="<%= listing.image.url %>" class="card-img-top show-img img-fluid" alt="listing_image">
  <div class="card-body">
    <p class="card-text"> Owned by :
        <i><%= listing.owner.username %></i> <br>
       <p> <%= listing.description %> </p>
        <p> &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>  </p>
        <p> <%= listing.location %> </p>
         <%= listing.country %>
    </p>
  </div>
    </div>
     
    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="edit-btn ">Edit</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark mb-3">Delete</button>
        </div>
        <% } %>
    </form>
</body>
</div>


<hr>
<div class="col-lg-8 col-md-10 col-12 mx-auto mb-3">
    <h4>Leave a Review</h4>
    <p>Rating</p>
    <% if(currUser) { %> 
    <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
  <fieldset class="starability-slot">
    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked hidden />
    <input type="radio" id="rate1" name="review[rating]" value="1" />
    <label for="rate1" title="Terrible">1 star</label>
    <input type="radio" id="rate2" name="review[rating]" value="2" />
    <label for="rate2" title="Not good">2 stars</label>
    <input type="radio" id="rate3" name="review[rating]" value="3" />
    <label for="rate3" title="Average">3 stars</label>
    <input type="radio" id="rate4" name="review[rating]" value="4" />
    <label for="rate4" title="Very good">4 stars</label>
    <input type="radio" id="rate5" name="review[rating]" value="5" />
    <label for="rate5" title="Amazing">5 stars</label>
  </fieldset>
</div>
</div>
        <div class="mb-3 mt-3 col-lg-8 col-md-10 col-12 mx-auto">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please add some comments for review</div>
            </div>
            <div class="text-center">
    <button type="submit" class="btn btn-outline-dark mt-2">Submit</button>
    </div>
    <% } %>
    </form>
<!-- <p><b>All Reviews</b></p> -->
<div>
    <div class="row col-8 offset-3"> &nbsp;
        <p><b>All Reviews</b></p>
    <% for(review of listing.reviews){ %>
        <div class="card col-lg-5 col-md-6 col-12 mb-3" id="review-card">
            <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                </p>
                <p class="card-text"><%=review.comment%></p>
                <form class="mb-3" method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                    <button class="btn btn-sm btn-dark">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
        </div>
<div/>
</div>
</div>